/* 全体の設定 */
body {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* スクロールしない */
    background-color: #2c2c30; /* 背景色 */
}
main {
    flex: 1;
}
main * {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

/* デッキ欄の設定 */
#deck-area {
    display: flex; /* flexboxを使用 */
    flex-direction: column; /* コンテンツを縦に並べる */
    padding: 0.5rem 1rem; /* 余白 */
}
    /* デッキヘッダーの設定 */
    .deck-header{
        display: flex; /* flexboxを使用 */
        flex-direction: row; /* コンテンツを横に並べる */
        height: 3rem; /* 高さ */
        border-bottom: 1px solid #ccc; /* 下線 */
    }
        /* ヘッダーアイコンの設定 */
        .header-text-icon{
            display: flex; /* flexboxを使用 */
            height: 2rem; /* 高さ */
            width: 8rem; /* 幅 */
            margin: 0.5rem 0; /* 上下にマージン（ヘッダーの高さに合わせる）*/
        }
            /* ヘッダー文字アイコン画像の設定 */
            .header-text-icon img{
                height: 2rem; /* 高さ */
            }
        /* ステータス欄全体設定 */
        #deck-status{
            display: flex; /* flexboxを使用 */
            flex-direction: column; /* コンテンツ（deck-status-row）を縦に並べる */
            height: 3rem; /* 高さ */
            width: 15rem; /* 幅 */
            margin-left: auto; /* 右詰め */
        }
            /* ステータス欄行ごとの設定 */
            .deck-status-row{
                display: flex; /* flexboxを使用 */
                flex-direction: row; /* コンテンツ（deck-status-cell）を横に並べる */
                height: 1rem; /* 高さ */
                margin-bottom: 0.5rem; /* 下に余白 */
            }
                /* ステータス欄マスごとの設定 */
                .deck-status-cell{
                    display: flex; /* flexboxを使用 */
                    flex-direction: row; /* コンテンツを縦に並べる */
                    height: 1rem; /* 高さ */
                    width: 2.5rem; /* 幅 */
                }
                    /* ステータス欄のアイコン設定 */
                    .deck-status-icon{
                        display: flex; /* flexboxを使用 */
                        height: 16px; /* 高さ */
                        width: auto; /* 幅 */
                    }
                    /* ステータス欄の文字設定 */
                    .deck-status-count{
                        display: flex; /* flexboxを使用 */
                        justify-content: center; /* 文字を垂直方向に中央揃え */
                        color: #ccc; /* 色 */
                        font-size: 16px; /* 文字サイズ */
                        width: 1.5rem; /* 幅 */
                    }
            /* その他カウントマスの設定 */
            #other-status-cell{
                display: flex; /* flexboxを使用 */
                width: 5rem; /* 幅 */
                margin-left: auto; /* 右詰め */
            }
    /* LrigDeckの設定 */
    #lrig-deck {
        display: flex; /* flexboxを使用 */
        height: 17vw; /* 縦幅 */
        margin-bottom: 0.5rem; /* 下に余白 */
    }
    /* MainDeckの設定 */
    #main-deck {
        display: flex; /* flexboxを使用 */
        height: 78vw; /* 縦幅 */
        margin-bottom: 0.5rem; /* 下に余白 */
    }

/* カードの設定 */
.card {
    border: none; /* カードの枠線を削除 */
    border-radius: 5px; /* 角を丸める */
    flex-shrink: 0; /* カードが縮小しないようにする */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    width: 80px; /* カード画像の幅を設定 */
    height: auto; /* 高さを自動で調整 */
}
.card img {
    max-width: 100%; /* カード画像をカードの幅に合わせて調整 */
    max-height: 100%; /* 同上高さ */
    object-fit: contain; /* 画像がカード内に収まるように調整 */
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8列で折り返す */
    gap: calc(100vw / 200); /* カードごとの隙間を画面横幅の1/200に */
}
    /* カード幅を設定 */
    #lrig-deck .card, #main-deck .card {
        grid-column: span 1; /* 各カードが1カラム分の幅になる */
        width: 100%; /* 幅を100%に設定 */
    }
    #life-burst{
        width: 1rem;
        height: 1rem;
        }
    #life-burst-icon img{
        height: 1rem;
        width: auto;
    }
#card-list {
    background-color: rgb(66, 67, 70); /* 背景色 */
    height: 7.5rem ; /* 縦幅 */
    align-content: center; /* 中央揃え */
    }
    #cards-container {
        display: flex; /* カードを横一列に並べる */
        gap: 5px; /* カード間の隙間 */
        overflow-x: auto; /* 横スクロール */
        width: 100%; /* 幅 */
    }
    /* リスト欄のスクロールバーを非表示 */
    #cards-container::-webkit-scrollbar{
    display: none;
}

/* 検索ツール欄 */
#search-tool{
    display: flex;          /* flexboxを使用 */
    flex-direction: column; /* コンテンツ（search-tool-row）を縦に並べる */
    height: 5rem;           /* 高さ */
    padding: 0 5vw;         /* 左右に余白 */
}
    /* 検索ツール欄行ごと */
    .search-tool-row {
        display: flex;       /* flexboxを使用 */
        flex-direction: row; /* コンテンツを横に並べる */
        height: 2rem;        /* 縦幅 */
        margin-top: 0.5rem;  /* 上にマージンを追加 */
    }
        /* レベル・色・LB検索ボタン */
        .search-button{
            display: flex;           /* flexboxを使用 */
            border: none;            /* 枠線を消す */
            background-color: #2c2c30; /* 背景色 */
            height: 2rem;            /* 高さ */
            flex-grow: 1;            /* 幅(親要素search-tool-rowを等分) */
            margin: 0 1vw;           /* 左右にマージンを追加 */
            padding-bottom: 1px;     /* 下に余白を追加(オン状態の下線用) */
            align-items: center;     /* 縦方向の中央揃え(アイコン画像の中央揃え) */
            justify-content: center; /* 横方向の中央揃え(アイコン画像の中央揃え) */
        }
            /* オン状態の設定 */
            .search-button.active{
                padding-bottom: 0; /* 余白を削除 */
                border-bottom: 1px solid #ccc; /* 下線を表示 */
            }
            /* アイコン画像 */
            .search-button img{
                height: 1.5rem; /* 高さ */
                width: auto;    /* 比率をキープ */
            }
            /* LB検索ボタンの追加設定 */
            #lb-search-button {
                background-color: transparent; /* デフォルトは背景透明 */
            }
        /* カード種類検索・ルリグタイプ/クラス検索ボタン */
        .open-searchPopup-button{
            display: flex;                  /* flexboxを使用 */
            border: none;                   /* 一度枠線を消す */
            border-bottom: 1px solid #ccc; /* 下線を表示 */
            color: #ccc;                   /* 文字色 */
            background-color: #2c2c30;     /* 背景色 */
            height: 2rem;                   /* 高さ */
            width: 4rem;                    /* 幅 */
            margin: 0 1vw;                  /* 左右にマージンを追加 */
            align-items: center;            /* 縦方向の中央揃え(アイコン画像の中央揃え) */
            justify-content: center;        /* 横方向の中央揃え(アイコン画像の中央揃え) */
        }
            /* アイコン画像の設定 */
            .open-searchPopup-button img{
                height: 1rem;   /* 高さ */
                width: auto;    /* 比率をキープ */
            }
        /* カード名検索欄*/
        #search-text-input {
            display: flex;                  /* flexboxを使用 */
            border: none;                   /* 一度枠線を消す */
            border-bottom: 1px solid #ccc; /* 下線を表示 */
            color: #ccc;                   /* 文字色 */
            background-color: #2c2c30;     /* 背景色 */
            height: 2rem;                   /* 高さ */
            width: auto;                    /* 幅 */
            font-size: 16px;                /* 文字サイズ */
            margin: 0 1vw;                  /* 左右にマージンを追加 */
        }

/* ポップアップ */
    /* カード種類検索のポップアップ */
    #search-cardType-popup {
        visibility: hidden;         /* 初期状態では表示しない */
        height: 90vw;               /* 高さ */
        width: 90vw;                /* 幅 */
        position: absolute;         /* position:absolute(絶対位置)を使用 */
        top: 1rem;                  /* 上からの距離 */
        left: 5vw;                  /* 下からの距離 */
        z-index: 2;                 /* レイヤー */
        background-color: #2c2c30; /* 背景色 */
        border: 3px solid #ccc;    /* 枠線 */
    }
        /* activeになったら表示 */
        #search-cardType-popup.active {
            visibility: visible;
        }
        .search-cardType-button {
            display: flex;
            border: none;
        }
    /* ルリグタイプ/クラス検索のポップアップ */
    #search-lrigTypeClass-popup {
        visibility: hidden;                            /* 初期状態では表示しない */
        height: 90vw;                                  /* 高さ */
        width: 90vw;                                   /* 幅 */
        position: absolute;                            /* position:absolute(絶対位置)を使用 */
        top: 1rem;                                     /* 上からの距離 */
        left: 5vw;                                     /* 左からの距離 */
        z-index: 2;                                    /* レイヤー */
        background-color: #2c2c30;                    /* 背景色 */
        border: 3px solid #ccc;                       /* 枠線 */
        display: grid;                                 /* 子要素(search-lrigTypeClass-button)にgridを使用 */
        grid-template-columns: repeat(auto-fit, 6rem); /* グリッドの列幅3remで横幅に合わせて詰め込む */
        gap: 1rem;                                     /* ボタンごとの隙間 */
    }
        /* activeになったら表示 */
        #search-lrigTypeClass-popup.active {
            visibility: visible;
        }
        .search-lrigTypeClass-button {
            display: flex;                                 /* flexboxを使用 */
            border: none;                                  /* 一度枠線を消す */
            border-bottom: #ccc solid 1px;                /* 下線 */
            height: 2rem;                                  /* 高さ */
            width: 6rem;                                   /* 幅 */
            background-color: transparent;                 /* 背景色(透明) */
            align-items: center;                           /* 縦方向の中央揃え(アイコン画像の中央揃え) */
            justify-content: center;                       /* 横方向の中央揃え(アイコン画像の中央揃え) */
        }
            .search-lrigTypeClass-button img {
                height: 2rem; /* 高さ */
                width: auto;  /* 幅(比率をキープ) */
            }
