/* 全体の設定 */
body {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2c30;
}
main {
    flex: 1;
}
main * {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

/* デッキ欄の設定 */
#deck-area {
    display: flex;            /* flexboxを使用 */
    flex-direction: column;   /* コンテンツを縦に並べる */
    padding: 0.5rem 1rem;     /* 余白 */
}
    /* デッキヘッダーの設定 */
    .deck-header{
        display: flex;                    /* flexboxを使用 */
        flex-direction: row;              /* コンテンツを横に並べる */
        height: 3rem;                     /* 高さ */
        border-bottom: 1px solid #ccc;   /* 下線 */
    }
        /* ヘッダーアイコンの設定 */
        .header-text-icon{
            display: flex;      /* flexboxを使用 */
            height: 2rem;       /* 高さ */
            width: 8rem;        /* 幅 */
            margin: 0.5rem 0;   /* 上下にマージン（ヘッダーの高さに合わせる）*/
        }
            /* ヘッダー文字アイコン画像の設定 */
            .header-text-icon img{
                height: 2rem;   /* 高さ */
            }
        /* ステータス欄全体設定 */
        #deck-status{
            display: flex;            /* flexboxを使用 */
            flex-direction: column;   /* コンテンツ（deck-status-row）を縦に並べる */
            height: 3rem;             /* 高さ */
            width: 15rem;             /* 幅 */
            margin-left: auto;        /* 右詰め */
        }
            /* ステータス欄行ごとの設定 */
            .deck-status-row{
                display: flex;           /* flexboxを使用 */
                flex-direction: row;     /* コンテンツ（deck-status-cell）を横に並べる */
                height: 1rem;            /* 高さ */
                margin-bottom: 0.5rem;   /* 下に余白 */
            }
                /* ステータス欄マスごとの設定 */
                .deck-status-cell{
                    display: flex;         /* flexboxを使用 */
                    flex-direction: row;   /* コンテンツを縦に並べる */
                    height: 1rem;          /* 高さ */
                    width: 2.5rem;         /* 幅 */
                }
                    /* ステータス欄のアイコン設定 */
                    .deck-status-icon{
                        display: flex;   /* flexboxを使用 */
                        height: 16px;    /* 高さ */
                        width: auto;     /* 幅 */
                    }
                    /* ステータス欄の文字設定 */
                    .deck-status-count{
                        display: flex;             /* flexboxを使用 */
                        justify-content: center;   /* 文字を垂直方向に中央揃え */
                        color: #ccc;              /* 色 */
                        font-size: 16px;           /* 文字サイズ */
                        width: 1.5rem;             /* 幅 */
                    }
            /* その他カウントマスの設定 */
            #other-status-cell{
                display: flex;       /* flexboxを使用 */
                width: 5rem;         /* 幅 */
                margin-left: auto;   /* 右詰め */
            }
    /* LrigDeckの設定 */
    .lrig-deck {
        display: flex;      /* flexboxを使用 */
        height: 17vw;       /* 縦幅 */
        margin: 0.5rem 0;   /* 上下に余白 */
    }
    /* MainDeckの設定 */
    .main-deck {
        display: flex;      /* flexboxを使用 */
        height: 82vw;       /* 縦幅 */
        margin: 0.5rem 0;   /* 上下に余白 */
    }
    /* カードを並べる設定 */
    .card-grid {
        display: grid;                           /* gridを使用 */
        grid-template-columns: repeat(8, 1fr);   /* 横8列で折り返す */
        grid-template-rows: repeat(5, 1fr);      /* 縦5行で折り返す(メインデッキ用) */
        gap: calc(100vw / 200);                  /* カードごとの隙間 */
    }

/* カードの設定 */
.card {
    display: flex;             /* flexboxを使用 */
    align-items: center;          /* 縦方向の中央揃え(カード画像の中央揃え) */
    justify-content: center;      /* 横方向の中央揃え(カード画像の中央揃え) */
}
    /* カード画像の設定 */
    .card img {
        width: 100%;       /* 幅 */
        height: 100%;      /* 高さ */
        object-fit: contain;   /* 画像がカード内に収まるように調整 */
    }
        /* デッキ欄での設定
        .card-grid .card {
        }*/
        /* リスト欄での設定 */
        .cards-list .card {
            width: 80px;               /* 幅 */
            flex-shrink: 0;            /* カードが縮小しないようにする */
        }

/* リスト欄 */
.cards-list {
    display: flex;                /* flexboxを使用 */
    background-color: #2c2c30;   /* 背景色 */
    height: 7.5rem ;              /* 高さ */
    width: 100%;                  /* 幅 */
    flex-direction: row;          /* 子要素(カード)を横に並べる */
    gap: 5px;                     /* カード間の隙間 */
    align-content: center;        /* 中央揃え */
    overflow-x: auto;             /* 横スクロール */
}

/* 検索ツール欄 */
#search-tool{
    display: flex;            /* flexboxを使用 */
    flex-direction: column;   /* 子要素(search-tool-row)を縦に並べる */
    height: 5rem;             /* 高さ */
    padding: 0 5vw;           /* 左右に余白 */
}
    /* 検索ツール欄行ごと */
    .search-tool-row {
        display: flex;         /* flexboxを使用 */
        flex-direction: row;   /* コンテンツを横に並べる */
        height: 2rem;          /* 縦幅 */
        margin-top: 0.5rem;    /* 上にマージンを追加 */
    }
        /* レベル・色・LB検索ボタン */
        .search-button{
            display: flex;                /* flexboxを使用 */
            border: none;                 /* 枠線を消す */
            background-color: #2c2c30;   /* 背景色 */
            height: 2rem;                 /* 高さ */
            flex-grow: 1;                 /* 幅(親要素search-tool-rowを等分) */
            margin: 0 1vw;                /* 左右にマージンを追加 */
            padding-bottom: 1px;          /* 下に余白を追加(オン状態の下線用) */
            align-items: center;          /* 縦方向の中央揃え(アイコン画像の中央揃え) */
            justify-content: center;      /* 横方向の中央揃え(アイコン画像の中央揃え) */
        }
            /* オン状態の設定 */
            .search-button.active{
                padding-bottom: 0;                /* 余白を削除 */
                border-bottom: 1px solid #ccc;   /* 下線を表示 */
            }
            /* オフ状態の設定(LB検索ボタン) */
            .search-button.inactive{
                padding-bottom: 0;                /* 余白を削除 */
                border-bottom: 1px dashed #ccc;   /* 下線を表示 */
            }
            /* アイコン画像 */
            .search-button img{
                height: 1.5rem;   /* 高さ */
                width: auto;      /* 比率をキープ */
            }
        /* カード種類検索・ルリグタイプ/クラス検索ボタン */
        .open-searchPopup-button{
            display: flex;                    /* flexboxを使用 */
            border: none;                     /* 一度枠線を消す */
            border-bottom: 1px solid #ccc;   /* 下線を表示 */
            color: #ccc;                     /* 文字色 */
            background-color: #2c2c30;       /* 背景色 */
            height: 2rem;                     /* 高さ */
            width: 4.5rem;                    /* 幅 */
            margin: 0 1vw;                    /* 左右にマージンを追加 */
            align-items: center;              /* 縦方向の中央揃え(アイコン画像の中央揃え) */
            justify-content: center;          /* 横方向の中央揃え(アイコン画像の中央揃え) */
        }
            /* アイコン画像の設定 */
            .open-searchPopup-button img{
                height: 1.5rem;   /* 高さ */
                width: auto;      /* 比率をキープ */
            }
        /* カード名検索欄*/
        #search-text-input {
            display: flex;                    /* flexboxを使用 */
            border: none;                     /* 一度枠線を消す */
            border-bottom: 1px solid #ccc;   /* 下線を表示 */
            color: #ccc;                     /* 文字色 */
            background-color: #2c2c30;       /* 背景色 */
            height: 2rem;                     /* 高さ */
            width: auto;                      /* 幅 */
            font-size: 16px;                  /* 文字サイズ */
            margin: 0 1vw;                    /* 左右にマージンを追加 */
        }


/* ポップアップ類 */

/* オーバーレイ */
.popup-overlay{
    visibility: hidden;                     /* 初期状態では表示しない */
    opacity: 0;                             /* 不透明度*/
    transition: opacity 0.3s ease;          /* フェードで表示切り替え */
    position: absolute  ;                   /* position:absolute(絶対位置)を使用 */
    width: 100%;                            /* 幅 */
    height: 100%;                           /* 高さ */
    top: 0;                                 /* 上からの距離 */
    z-index: 1;                             /* レイヤー */
    background-color: rgba(0, 0, 0, 0.5)   /* 背景色 */
}
/* activeになったら表示 */
.popup-overlay.active {
    visibility: visible;   /* 表示 */
    opacity: 1;            /* 不透明度 */
}
/* カード種類検索のポップアップ */
#search-cardType-popup {
    visibility: hidden;              /* 初期状態では表示しない */
    opacity: 0;                      /* 不透明度 */
    transition: opacity 0.3s ease;   /* フェードで表示切り替え */
    height: 90vw;                    /* 高さ */
    width: 90vw;                     /* 幅 */
    position: absolute  ;            /* position:absolute(絶対位置)を使用 */
    top: 1rem;                       /* 上からの距離 */
    left: 5vw;                       /* 下からの距離 */
    z-index: 2;                      /* レイヤー */
    background-color: #2c2c30;      /* 背景色 */
    border: 3px solid #ccc;         /* 枠線 */
}
/* activeになったら表示 */
#search-cardType-popup.active {
    visibility: visible;   /* 表示 */
    opacity: 1;            /* 不透明度 */
}
    .search-cardType-button {
        display: flex;
        border: none;
    }
/* ルリグタイプ/クラス検索のポップアップ */
.search-lrigTypeClass-popup {
    visibility: hidden;              /* 初期状態では表示しない */
    opacity: 0;                      /* 不透明度 */
    transition: opacity 0.3s ease;   /* フェードで表示切り替え */
    width: 90vw;                     /* 幅 */
    position: absolute;              /* position:absolute(絶対位置)を使用 */
    top: 1rem;                       /* 上からの距離 */
    left: 5vw;                       /* 左からの距離 */
    z-index: 3;                      /* レイヤー */
    border: none;                    /* 枠線を削除 */
    background-color: #2c2c30;      /* 背景色 */
    flex-direction: column;          /* 子要素を縦に並べる */
}
/* activeになったら表示 */
.search-lrigTypeClass-popup.active {
    visibility: visible;   /* 表示 */
    opacity: 1;            /* 不透明度 */
}
    /* タブ切り替えボタン */
    .search-lrigTypeClass-tabSwitchButtons {
        display: flex;         /* flexboxを使用 */
        flex-direction: row;   /* 子要素(search-lrigTypeClass-tabSwitchButton)を横に並べる */
        gap: 2rem;             /* ボタンごとの隙間 */
    }
        /* ボタン */
        .search-lrigTypeClass-tabSwitchButton {
            display: flex;                  /* flexboxを使用 */
            height: 2rem;                   /* 高さ */
            flex-grow: 1;                   /* 幅(親要素の幅を等分) */
            background-color: #2c2c30;     /* 背景色 */
            color: #ccc;                   /* 文字色 */
            border: 2px solid #ccc;        /* 枠線 */
            border-radius: 10px 10px 0 0;   /* 左上,右上の角を丸める */
            border-bottom: none;            /* 下の枠線は消す */
            align-items: center;            /* 縦方向の中央揃え(文字の中央揃え) */
            justify-content: center;        /* 横方向の中央揃え(文字の中央揃え) */
        }
        /* 選択されたら背景色と文字色を変更 */
        .search-lrigTypeClass-tabSwitchButton.active {
            background-color: #ccc;   /* 背景色 */
            color: #2c2c30;           /* 文字色 */
        }
    /* ルリグタイプ/クラス検索のタブ */
    .search-lrigTypeClass-tab {
        opacity: 0;                                        /* 不透明度(初期状態では表示しない) */
        border: 2px solid #ccc;                           /* 枠線 */
    }
    /* activeになったら表示 */
    .search-lrigTypeClass-tab.active {
        opacity: 1;   /* 不透明度 */
    }
        /* すべてで検索欄 */
        .search-lrigTypeClass-all {
            display: flex;
            height: 2rem;
            border: none;
            margin-top: 1rem;
        }
            /* タブ内の検索ボタン */
            .search-lrigTypeClass-button {
                display: flex;                    /* flexboxを使用 */
                border: none;                     /* 一度枠線を消す */
                border-bottom: #ccc solid 1px;   /* 下線 */
                background-color: transparent;    /* 背景色(透明) */
                align-items: center;              /* 縦方向の中央揃え(アイコン画像の中央揃え) */
                justify-content: center;          /* 横方向の中央揃え(アイコン画像の中央揃え) */
            }
                /* 検索ボタンの画像 */
                .search-lrigTypeClass-button img {
                    height: 1.5rem;   /* 高さ */
                    width: auto;      /* 幅(比率をキープ) */
                }
        /* wixossルリグ欄 */
        .search-lrigTypeClass-lrig {
            border: none;
            margin-top: 1rem;
            display: grid;                                     /* 子要素(search-lrigTypeClass-button)にgridを使用 */
            grid-template-columns: repeat(auto-fit, 4.5rem);   /* グリッドの列幅4.5remで詰め込む */
            grid-template-rows: repeat(auto-fit, 2rem);        /* グリッドの行幅2remで詰め込む */
            gap: 1rem;                                         /* ボタンごとの隙間 */
            justify-content: center;                           /* 横方向の中央揃え */
        }
/* カード情報のポップアップ */
.card-detail-popup {
    visibility: hidden;                 /* 初期状態では表示しない */
    opacity: 0;                         /* 不透明度 */
    transition: opacity 0.3s ease;      /* フェードで表示切り替え */
    width: 80vw;                        /* 幅 */
    position: absolute;                 /* position:absolute(絶対位置)を使用 */
    top: 50%;                           /* 上からの距離 */
    left: 50%;                          /* 左からの距離 */
    transform: translate(-50%, -50%);   /* 画面中央に表示 */
    z-index: 4;                         /* レイヤー */
    border: none;                       /* 枠線を削除 */
    background-color: #2c2c30;         /* 背景色 */
    flex-direction: column;             /* 子要素を縦に並べる */
}
/* activeになったら表示 */
.card-detail-popup.active {
    visibility: visible;   /* 表示 */
    opacity: 1;            /* 不透明度 */
}
    .card-image-detail{
        width: 100%;
    }
    .card-image-detail img {
        width: 100%;
    }
